<h1>Catalog</h1>
<dl>

    {{#each bookList}}
        <dt>Título</dt><dd>{{this.title}}</dd>
        <dt>Stock</dt><dd>{{this.stock}}</dd>
        <dt>Precio</dt><dd>{{this.price}} €</dd>
    {{/each}}

</dl>